{% load i18n%}
{% load static%}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Reset</title> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'account/css/password_reset_confirm.css' %}">
</head>
<body>
  <div class="bbb">
   <div class="navbar">

     <h1>{% trans 'SAWAH' %}</h1>
     
   </div>
 <hr>
 <h2>{% trans 'Enter new password' %}</h2>
 <p>{% trans 'Please enter your new password twice so we can verify you typed it in correctly' %}</p>
<form action="" method="post">
    {% csrf_token %}
 <div class="X">
    <h3>{% trans 'New Password:' %}</h3>
    <input type="password" class="nav1" placeholder="{% trans 'New password' %}"
                aria-label="Recipient's username" aria-describedby="button-addon2" name="new_password1" required>
 </div>

 <div class="X">

    <h3>{% trans 'Confirm password:' %}</h3>
    <input type="password" class="nav2" placeholder="{% trans 'Confirm password' %}"
                aria-label="Recipient's username" aria-describedby="button-addon2" name="new_password2" required>

 </div>
 <br>
 <button type="submit" class="B">{% trans 'Change my password' %}</button>
</form>
  </div>
</body>
</html>