{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% trans 'Password Reset' %}</title> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'account/css/password_reset_form.css' %}">
</head>
<body>
    <div class="bbb">
        <div class="navbar">
            <h1>{% trans 'SAWAH' %}</h1>
        </div>
        <hr>
        <h2>{% trans 'Password Reset' %}</h2>
        <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        <form method="post">
            {% csrf_token %}
            <div class="X">
                <h3>{% trans 'Email address:' %}</h3>
                <input type="email" id="id_email" name="email" class="nav1" required>
            </div>
            <br>
            <button class="B" type="submit">{% trans "Reset my Password" %}</button>
        </form>
    </div>
</body>
</html>
