{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Reset</title> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'account/css/password_reset_done.css' %}">
</head>
<body>
  <div class="bbb">
<div class="navbar">
     <h1>{% trans 'SAWAH' %}</h1>
     
  </div>
<hr>
<h2>{% trans 'Password reset sent' %}</h2>
<p>{% trans 'We have emailed you instructions for setting your Password,if an account exists with the email you entered.You should receive them shortly.' %}</p>
<p>{% trans "If you don't receive an email, please make sure you have entered the address you registered with,and c heck your spam folder" %}</p>
  </div>
</body>
</html>