body{
    background-color: rgb(239, 238, 232);


}
.nav{
    display:inline-flex;
}
.nav h1{
    color: rgb(1, 50, 32);
    margin-left: 80px;
    font-style: initial;
}
 .n1{
    
     background-color: rgb(239, 238, 232);
      margin-left: 1050px;
      margin-top: 20px;
     border-radius: 12px;
     border-color:rgb(1, 50, 32);
     box-sizing:initial;
     font-size: 20px;
     font-style: initial;
     border: 3px solid rgb(1, 50, 32);     
     color: rgb(1, 50, 32); 
     width: 100px;
     height: 30px;
 }
 n1:hover{
    background-color: rgb(239, 238, 232);
 }
  hr{
    color: rgb(1, 50, 32);
     border: 2px solid rgb(1, 50, 32); 
 }
 .A{
    margin-top: 30px;
    background-image: url("../images/download.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 100%;
 }
 .A h2{
    color: white; 
    margin-left: 40%;
 }
 .A1{
    margin-top: 30px;
 }
 .A2{
    margin-top: 70px;
 }
 .B{
    display: inline-flex;
    gap: 40px;
    margin-left: 35%;
 }
 .B1{
    background-color: rgb(239, 238, 232);
    margin-top: 20px;
   border-radius: 20px;
   border-color:rgb(1, 50, 32);
   box-sizing:initial;
   font-size: 20px;
   font-style: initial;
   border: 3px solid rgb(1, 50, 32);     
   color: rgb(1, 50, 32); 
   width: 100px;
   height: 30px;
 }
 .B1:hover{
     background-color: rgb(253, 160, 47);
 }
 .B2{
    background-color:  rgb(239, 238, 232);
    margin-top: 20px;
   border-radius: 20px;
   border-color:rgb(1, 50, 32);
   box-sizing:initial;
   font-size: 20px;
   font-style: initial;
   border: 3px solid rgb(1, 50, 32);     
   color: rgb(1, 50, 32); 
   width: 100px;
   height: 30px;
 }
 .B2:hover{
    background-color: rgb(253, 160, 47);
 }
.B3{
    background-color: rgb(239, 238, 232);
    margin-top: 20px;
   border-radius: 20px;
   border-color:rgb(1, 50, 32);
   box-sizing:initial;
   font-size: 20px;
   font-style: initial;
   border: 3px solid rgb(1, 50, 32);     
   color: rgb(1, 50, 32); 
   width: 100px;
   height: 30px;
 }
.B3:hover{
    background-color: rgb(253, 160, 47);
 }
 .A3{
    margin-top: 30px;
 } 
 

 
.v{
    color: rgb(1, 50, 32);
    margin-left: 100px;
    margin-top: 50px;
    font-size: 30px;
}
.g{
    display: inline-flex;
}
.g1{
    width: 400px;
    height: 405px;
    border: 2px solid rgb(1, 50, 32);
    border-radius: 20px;
    margin-left: 100px;
   
}
 
.l{
    
     opacity: 0.3;
    display: inline-flex;
    gap: 35px;
}
.g1 h3{
    color: rgb(1, 50, 32);
    font-size: 35px;
    margin-left: 10px;
     
}
.g1 hr{
    border: 1px solid rgb(1, 50, 32);
}
.g1 img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
     
}
.v1{
    border-top: 2px solid rgb(1, 50, 32);
    border-left: 2px solid rgb(1, 50, 32);
    border-right: 2px solid rgb(1, 50, 32);
     border-radius: 10px;
    gap: 20px;
    font-size: 25px;
}
.v2{
    border-top: 2px solid rgb(1, 50, 32);
    border-left: 2px solid rgb(1, 50, 32);
    border-right: 2px solid rgb(1, 50, 32);
    border-radius: 10px;
    font-size: 25px;
}

.l1{
    
    opacity: 0.3;
    display: inline-flex;
    gap: 35px;
}

.k{
    border-top: 2px solid rgb(1, 50, 32);
    border-left: 2px solid rgb(1, 50, 32);
    border-right: 2px solid rgb(1, 50, 32);
     border-radius: 10px;
    gap: 20px;
    font-size: 25px;
}
.k2{
    border-top: 2px solid rgb(1, 50, 32);
    border-left: 2px solid rgb(1, 50, 32);
    border-right: 2px solid rgb(1, 50, 32);
    border-radius: 10px;
    font-size: 25px;
}
.g3{
    width: 400px;
    height: 405px;
    border: 2px solid rgb(1, 50, 32);
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 50px;
   
}
.l2{
    opacity: 0.3;
    display: inline-flex;
    gap: 35px;
}
.g3 h3{
    color: rgb(1, 50, 32);
    font-size: 35px;
    margin-left: 10px;
}
.g3 hr{
    border: 1px solid rgb(1, 50, 32);
}
.g3 img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
     
}
.o{
    border-top: 2px solid rgb(1, 50, 32);
    border-left: 2px solid rgb(1, 50, 32);
    border-right: 2px solid rgb(1, 50, 32);
     border-radius: 10px;
    gap: 20px;
    font-size: 25px;
}
.o2{
    border-top: 2px solid rgb(1, 50, 32);
    border-left: 2px solid rgb(1, 50, 32);
    border-right: 2px solid rgb(1, 50, 32);
    border-radius: 10px;
    font-size: 25px;
}
.x{
    margin-top: 80px;
}
.w{
    color: rgb(1, 50, 32);
    margin-left: 100px;
    margin-top: 50px;
    font-size: 40px; 
}
.q{
    display: inline-flex;
    position: absolute;
}
.q1{
    width: 550px;
    height: 500px;
    border: 2px solid rgb(1, 50, 32);
    border-radius: 20px;
    margin-left: 100px;
     
}
.q1 h3{
    color: rgb(1, 50, 32);
    font-size: 35px;
    margin-left: 10px;
}
.im{
    border-radius: 10px;
    box-shadow: 7px 7px 7px 7px;
    color: #ddd;
    width: 530px;
    height: 150px;
    position: absolute;
    margin-left: 10px;
    margin-top: 15px;
    opacity: 0.4;
}

.iii{
    width: 40px;
    position: absolute;
   margin-left: 20px;
   margin-top: 10px;
    border-radius: 15px;
}
.aml{
    position: absolute;
    font-size: 20px;
    margin-left: 65px;
    margin-top: 10px;
    width: 200px;
    color: #000;
}
.star-rating2{
    font-family: 'Poppins', sans-serif;
     
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    margin-left: 65px;
    font-size: 25px;
    color: rgb(248, 150, 21); 
    position: absolute;
    margin-top: 30px;
    

}
.spann2{
    font-family: 'Poppins', sans-serif;
    justify-content: flex-end;
    margin-left: 115px;
    font-size: 18px;
    margin-top: -29px;
    position: absolute;
  margin-top: 2px;
  color: #000;  
}
.spann .num11{
    margin: 0px -3px;
    position: absolute;   
}
.re{
    width: 400px;
    font-size: 25px;
   margin-left: 50px;
    position: absolute;
    margin-top: 75px;
    opacity: 0.4;
}
.im1{
    border-radius: 10px;
    box-shadow: 7px 7px 7px 7px;
    color: #ddd;
    width: 530px;
    height: 150px;
    position: absolute;
    margin-left: 110px;
    margin-top: 315px;
    opacity: 0.4;
}

.iii1{
    width: 40px;
    position: absolute;
   margin-left: 20px;
   margin-top: 10px;
    border-radius: 15px;
}
.aml1{
    position: absolute;
    font-size: 20px;
    margin-left: 65px;
    margin-top: 10px;
    width: 200px;
    color: #000;
}
.star-rating2{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    margin-left: 65px;
    font-size: 25px;
    color: rgb(248, 150, 21); 
    position: absolute;
    margin-top: 30px;
    

}
.spann21{
    font-family: 'Poppins', sans-serif;
    justify-content: flex-end;
    margin-left: 115px;
    font-size: 18px;
    margin-top: -29px;
    position: absolute;
  margin-top: 2px;
  color: #000;  
}
.spann .num111{
    margin: 0px -3px;
    position: absolute;   
}
.re1{
    width: 400px;
    font-size: 25px;
   margin-left: 20px;
    position: absolute;
    margin-top: 375px;
    margin-left: 150px;
    opacity: 0.4;
}
.q2{
    width: 550px;
    height: 500px;
    border: 2px solid rgb(1, 50, 32);
    border-radius: 20px;
    margin-left: 800px;
   display: inline-block;
}
.q2 h3{
    color: rgb(1, 50, 32);
    font-size: 35px;
    margin-left: 10px;
}
.im2{
    border-radius: 10px;
    box-shadow: 7px 7px 7px 7px;
    color: #ddd;
    width: 530px;
    height: 150px;
    position: absolute;
    margin-left: 810px;
    margin-top: 315px;
    opacity: 0.4;
}

.iii2{
    width: 40px;
    position: absolute;
   margin-left: 20px;
   margin-top: 10px;
    border-radius: 15px;
}
.aml2{
    position: absolute;
    font-size: 20px;
    margin-left: 65px;
    margin-top: 10px;
    width: 200px;
    color: #000;
}
.star-rating2{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    margin-left: 65px;
    font-size: 25px;
    color: rgb(248, 150, 21); 
    position: absolute;
    margin-top: 30px;
    

}
.spann22{
    font-family: 'Poppins', sans-serif;
    justify-content: flex-end;
    margin-left: 115px;
    font-size: 18px;
    margin-top: -29px;
    position: absolute;
  margin-top: 2px;
  color: #000;  
}
.spann .num112{
    margin: 0px -3px;
    position: absolute;   
}
.re2{
    width: 400px;
    font-size: 25px;
    position: absolute;
    margin-left: 850px;
    margin-top: 385px;
    opacity: 0.4;
}
 
.q3{
     margin-top: 50px;
    width: 550px;
    height: 550px;
    border: 2px solid rgb(1, 50, 32);
    border-radius: 20px;
    margin-left: 100px;
   
}
.q3 h3{
    color: rgb(1, 50, 32);
    font-size: 40px;
    margin-left: 10px;
}
.im3{
    border-radius: 10px;
    box-shadow: 7px 7px 7px 7px;
    color: #ddd;
    width: 530px;
    height: 150px;
    position: absolute;
    margin-left: 110px;
    margin-top: 910px;
    opacity: 0.4;
}

.iii3{
    width: 40px;
    position: absolute;
   margin-left: 20px;
   margin-top: 10px;
    border-radius: 15px;
}
.aml3{
    position: absolute;
    font-size: 20px;
    margin-left: 65px;
    margin-top: 10px;
    width: 200px;
    color: #000;
}
.star-rating2{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    margin-left: 65px;
    font-size: 25px;
    color: rgb(248, 150, 21); 
    position: absolute;
    margin-top: 30px;
    

}
.spann23{
    font-family: 'Poppins', sans-serif;
    justify-content: flex-end;
    margin-left: 115px;
    font-size: 18px;
    margin-top: -29px;
    position: absolute;
  margin-top: 2px;
  color: #000;  
}
.spann .num113{
    margin: 0px -3px;
    position: absolute;   
}
.re3{
    width: 400px;
    font-size: 25px;
   margin-left: 20px;
    position: absolute;
    margin-top: 985px;
    margin-left: 150px;
    opacity: 0.4;
}
 /* ...start foces liked Resturant.......................................... */
 #likes{
    width: 850px;
    height: 745px;
    border: 1px solid rgb(1, 50, 32);
    border-radius: 20px;
    margin-left: 60px;
   
 }
 .inline{
   display:flex;
   background-color: #ECCBA3; 
   border: 1px solid rgb(1, 50, 32);
   border-bottom: 2px solid rgb(1, 50, 32);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
 }
 .inline h3{
    color: rgb(1, 50, 32);
    font-size: 35px;
    margin-left: 10px;
   
 }
 .fa-xmark {
    margin-left: 530px;
    margin-top: 20px;
    color: #000000; /* Icon color */
    cursor: pointer; /* Change cursor to pointer on hover */
    border: 3px solid black;
    border-radius: 32px;
    padding: 10px;
    height: 13px;
  
    
  }
 .btn{
    background-color:rgb(235, 185, 94);
    color:rgb(1, 50, 32) ;
    border:2px solid  rgb(1, 50, 32);
    border-radius: 30px;
    font-size: 25px;
    height: 35px;
    width: 35px;
    position: absolute;
    margin-top: 25px; 
}
.dlike{
    border-radius: 0px 0px 50px 0px;
    height:625px ;
    overflow-y: auto; /* Enable vertical scrollbar */
   
}

  
  /* WebKit (Chrome, Safari) scrollbar customization */
  .dlike::-webkit-scrollbar {
    width: 20px; /* Width of the scrollbar */
   
   
  }
  
  .dlike::-webkit-scrollbar-track {
    background:  #ECCBA3; /* Track color */
  }
  
  .dlike::-webkit-scrollbar-thumb {
    background-color:  rgb(248, 150, 21); /* Thumb color */
    border-radius: 15px; /* Rounded corners for the thumb */
  }
  
  .dlike::-webkit-scrollbar-thumb:hover {
    background-color: rgb(1, 50, 32); /* Thumb color on hover */
  }
.sec1{
  display: flex;
}


.card-body {
    border: 2px solid  rgb(1, 50, 32);
    border-radius: 20px;
    width: 230px;
    height: 430px;
    margin: 20px 30px 40px 20px;
    position: relative;
  
}

.s1{
    margin-left: 10px;
   
}

.s1 h3{
    font-size: 23px;
    
}

.imgforcard{
    width: 230px;
    height: 210px;
   border-top-left-radius: 20px;
   border-top-right-radius:20px ;
  
}
.heart-icon {
    color: rgb(235, 185, 94); 
    margin-left: -40px;
    margin-top: 15px;
    border: 2px solid black;
    padding: 8px;
    border-radius: 20px;
    position: absolute;
    background-color: rgb(248, 150, 21) ;
  
    
}
  
  .heart-icon.active {
    color: red; }
.star-rating{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    margin-top: -14px;
    font-size: 25px;
    color: rgb(248, 150, 21); 
   
   
}
.spann{
    font-family: 'Poppins', sans-serif;
    justify-content: flex-end;
    margin-left: 15px;
    font-size: 18px;
    margin-top: -29px;
  margin-top: 4px;
  color: #000;
   
}
.star-rating #s5{
    color: rgba(221, 156, 82, 0.61);}

.star-rating #s4{
    color: rgba(221, 156, 82, 0.61);}
.spann .num1{
    margin: 0px -3px;
   
   
   
}
.spann .num2{
    margin-left: 10px;
    font-size: 17px; 
}

.op{
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px ;
    color: #6d7061;
    
}
#location{
  margin-top: -17px;
   color: #6d7061;
}